.btn-primary{
    --bs-btn-hover-bg:0;
    --bs-btn-hover-border-color:0;
    --bs-btn-active-bg:0;
    --bs-btn-active-border-color:0;
    --bs-btn-hover-color:0;
    --bs-btn-color:0;
    --bs-border-width:0;
}
.btn-group{
    display:block
}
.btn-primary{
    background-color: transparent;
    border-color: transparent;
}


nav.class.navbar.bg-dark.data-bs-theme.dark{
    background-image: linear-gradient(rgba(6, 5, 10, 0.889),
    rgba(16, 15, 38, 0.618));
}

i.fa-brands.fa-linkedin.fa-2xl.text-white:hover {
    --bs-text-opacity: 1;
    color: #00FFFF !important;
}

i.fa-brands.fa-square-instagram.fa-2xl.text-white:hover{
    --bs-text-opacity: 1;
    color:#ff1493 !important;
}

i.fa-brands.fa-square-facebook.fa-2xl.text-white:hover{
    --bs-text-opacity: 1; 
    color:#0000FF !important;
}

i.fa-solid.fa-envelope.fa-2xl.text-white:hover{
    --bs-text-opacity: 1; 
    color: #ffff00 !important;
}

i.fa-brands.fa-github.fa-2xl.text-white:hover{
    --bs-text-opacity: 1; 
    color:#f31515 !important;
}

i.fa-solid.fa-user-lock.fa-2xl.text-white:hover{
    --bs-text-opacity: 1; 
    color:#68fc05 !important;
}


section.banner{
    background-image: linear-gradient(rgba(6, 5, 10, 0.889),
     rgba(16, 15, 38, 0.618)), 
    url(../img/cerebro.png);
    height: 100vh;
    position:relative;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -msn-background-size: cover;   
    background-repeat: no-repeat;
}

h1.text-white.text-center.Bienvenida{
    padding-top: 15rem;
}
section#Sobre-Mi{
    font-weight:lighter;
    font-size: 8rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:aqua;
    -webkit-text-stroke: 1px hsl(0, 0%, 0%);
    display: flex;
    align-items:center;
    justify-content: center;
    background-color: #0c1336;
    height: 100vh;
    position:relative;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -msn-background-size: cover;   
    background-repeat: no-repeat;
}

h3.parrafo{
    color:rgb(241, 243, 243);
    font-size: 2rem;
    -webkit-text-stroke: 1px rgb(9, 11, 12);
    margin: 3px;
}

h1.Curriculum{
    font-weight:lighter;
    font-size: 3rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:aqua;
    -webkit-text-stroke: 1px hsl(0, 0%, 0%);
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 73, 132, 0.992);

}

section#Experiencia{
    margin: auto;
    columns: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    background-color: rgb(12, 19, 54);
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -msn-background-size: cover;   
}

.col-3 {
    margin-top: 3rem;
}

h1.Educación{
    font-weight:lighter;
    font-size: 3rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:aqua;
    -webkit-text-stroke: 1px hsl(0, 0%, 0%);
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 73, 132, 0.992);
}

.container.text-center{
    color: whitesmoke;
}

section#Formación{
    margin: auto;
    columns: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    background-color: rgb(12, 19, 54);
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -msn-background-size: cover;  
}

h2.educacion{
    justify-content: center;
    align-content: center;
    margin-top: 4rem;
}

.form-control-sm{
    margin-right: 5rem;
    margin-left: 5rem;
}

h4.datos{
    text-align: center;
}

.col-1{
    text-align: center;
}

a.btn.btn-outline-dark{
    color: white;
    --bs-btn-active-border-color: #ffff00;
    --bs-btn-bg:transparent;
    --bs-btn-border-color:transparent;
    --bs-btn-hover-border-color:transparent;
    --bs-btn-active-border-color:transparent;
}

i.fa-regular.fa-circle-left.fa-2xl.text-white:hover{
    --bs-text-opacity: 1;
    color: #3eff04 !important;
}

i.fa-solid.fa-pencil.fa-2xl{
        color:#0fdcf7;
       margin-left: 60rem;
       margin-block-end:30rem;
    }
            
:root, [data-bs-theme="light"] {
     --bs-body-bg:#000000;
    }





