.navbar.navbar-expand-lg.bg-body-tertiary{
    background-color:rgb(33, 45, 82) !important;
}

.list-group{
  padding-left:10px;
  padding-right:10px;
   }

.list-group.list-group-horizontal{
    color:whitesmoke;
}
  
   i.fa-brands.fa-linkedin.fa-2xl:hover{
    color:aqua;
   }
   i.fa-brands.fa-square-instagram.fa-2xl:hover{
    color:deeppink;
   }
   i.fa-brands.fa-square-facebook.fa-2xl:hover{
    color:blue;
   }
   i.fa-solid.fa-envelope.fa-2xl:hover{
    color:rgb(248, 245, 44);
   }
   i.fa-solid.fa-user-lock.fa-2xl:hover{
    color:rgb(104, 252, 5);
   }

